// showing default values
//$accentColor = #3eaf7c
//$textColor = #2c3e50
//$borderColor = #eaecef
//$codeBgColor = #282c34
.content.custom>h1,
.content.custom>h2,
.content.custom>h3,
.content.custom>h4,
.content.custom>h5,
.content.custom>h6 {
  margin-top: -3.1rem;
  padding-top: 4.6rem;
  margin-bottom: 0;
}
